<!DOCTYPE html>
<html>
  <head>
    <title>500words</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="http://fonts.cdnfonts.com/css/bodoni-std" rel="stylesheet">
    <style>
                            @import url('http://fonts.cdnfonts.com/css/bodoni-std');
</style>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
      <div class="header-toolbar">
        <%= link_to "Posts", "" %>
        <%= link_to "Username", "" %>
      </div>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
